@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    --cor_principal: rgb(232, 232, 183);    
    --cor_secundaria: rgb(151, 0, 0);
    
}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    display: flex;
    height: 100vh;
    height: 100dvh;

}

main{

    display: flex;
    flex-direction: column;

    flex: 1;
    
    font-family: 'Inter', sans-serif;
    font-weight: 500;

}
/* cabeçalho */
#cabecalho_desktop{

    background-color: var(--cor_principal);
    height: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 5px black;

    position: fixed; 
    top: 0;          
    width: 100%;
    z-index: 1000;

}

#cabecalho_mobile{

    background-color: var(--cor_principal);
    height: 60px;
    min-height: 60px;
    display: none;
    justify-content: center;

}

#cabecalho{

    display: flex;
    width: 100%;
    max-width: 2000px;
    gap: 10%;
    
}

#logo{

    background-image: url(../images/Entrelaços\ 1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
    height: 60px;
    width: 150px;
    margin-left: 20px;

}

#menu{

    display: flex;
    gap: 20px;
    flex: 1;

}

#menu_ul{

    display: flex;
    flex: 1;
    padding: 0;
    list-style: none;
    gap: 30px;
    font-weight: 600;

}

.pg, a:hover{

    color: white;
    cursor: pointer;

}

.pg, a{

    color: var(--cor_secundaria);
    margin-top: 5px;
    text-decoration: none;
    text-align: center;
    width: 80px;
}

.pg_atual{

    width: 80px;
    color: white;
    text-shadow: 0px 0px 3px var(--cor_secundaria);
    text-align: center;

    border-top: 5px solid var(--cor_secundaria);

}

/* Login */
#menu_login{

    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: var(--cor_secundaria);

}

#menu_logout{

    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: var(--cor_secundaria);
    margin-right: 10px;

}

#menu_logout button{

    border-radius: 5px;
    padding: 0px 3px;
    color: white;
    cursor: pointer;
    border: none;
    background-color: var(--cor_secundaria);

}

.caixa{

    background-color: aliceblue;
    border-radius: 5px;
    border: 0;

    height: 15px;
    width: 50px;
    
    font-size: 10px;
    
}

#usuario{

    width: 80px;

}

#senha{

    width: 35px;
    
}

#mostrar{

    background-color: var(--cor_principal);
    color: var(--cor_secundaria);
    border: 0;
    border-radius: 5px;
    font-size: 20px;

}

.butao{

    color: white;
    background-color: var(--cor_secundaria);
    height: 15px;
    width: 50px;
    text-align: center;
    font-size: 10px;
    border-radius: 5px;

}

.butao:hover{

    background-color: white;
    color: var(--cor_secundaria);
    cursor: pointer;

}

/* Dialogo de Login */

dialog{

    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--cor_principal);
    border-color: var(--cor_secundaria);
    border-radius: 20px;
    
    height: 300px;
    width: 400px;

}

dialog::backdrop{

    backdrop-filter: blur(2px) ; 

}

.infoDialog{

    text-align: center;
    color: var(--cor_secundaria);
    font-weight: 700;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 10px;
    padding: 10px;

}

dialog button{

    background-color: var(--cor_secundaria);
    width: 200px;
    border-color: var(--cor_secundaria);
    border-radius: 20px;
    color: white;
    font-weight: 600;

}

dialog button:hover{

    color: var(--cor_secundaria);
    background-color: white;
    border-color: var(--cor_secundaria);

}

/* Section */
#principal{

    background-image: url(../images/fundo_section.png);
    background-size: 50px;
    
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
/* Banner */
#carouselExampleSlidesOnly{

    margin-top: 60px;
    display: flex;
    width: 100%;
    
}

.img_banner{

    width: 100%;
    
}

/* Sessão de Serviços */

#sessao_servicos{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    place-items: center;

    width: 100%;
    height: 30vh;

    

}

.servicos{

    height: 80px;
    width: 300px;
    background-color: var(--cor_principal);

    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.589);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.servicos:hover {

    



}

.servicos img{

    height: 80px;
    border-radius: 10px;

}

.servicos p{

    
    
    
    
    
    
}

/* Carrocel de artigos */

#carouselCards{

    width: 100%;
    
}

.carousel-item{

    transition: 1s;
    
}

/* Botões */
.carousel-control-prev, .carousel-control-next{

    width: 60px;
    
}

.iconi{

    color:rgb(0, 0, 0);
    font-size: 50px;
    
}

/* seções tendencias */
.d-flex{

    gap: 20px;
    justify-content: space-around;
    
}

/* Tendencias */
#tendencias{

    display: none;
    flex-direction: row;
    
    width: 100%;
    max-width: 1900px;

    justify-content: space-around;

}

.box_tendencias{

    height: 30vh;
    width: 19vw;

    border-radius: 10px;

    display: flex;
    justify-content: end;
    
    flex-direction: column;

    box-shadow: inset 0px -45px 25px black;

}

.box_tendencias p{

    font-size: 13px;
    margin-left: 5px;
    margin-bottom: 3px;
    color: white;

}

.acessar{

    height: 25px;
    width: 100%;
    background-image: linear-gradient(rgb(255, 255, 255), var(--cor_secundaria), var(--cor_secundaria));
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    transition: 0.1s;
    
}

.acessar:hover{

    background-image: linear-gradient(white);

    color: var(--cor_secundaria);
    cursor: pointer;

    transition: 0.1s;
    scale: 1.01;

}

#bx1{

    background-image: url(../images/foto_1.png);
    background-size: cover;
    
}

#bx2{

    background-image: url(../images/foto_2.png);
    background-size: cover;
    

}

#bx3{

    background-image: url(../images/foto_3.png);
    background-size: cover;
    
}

#bx4{

    background-image: url(../images/foto_4.png);
    background-size: cover;

}

#bx5{

    background-image: url(../images/foto_5.png);
    background-size: cover;
    
}

#bx6{

    background-image: url(../images/foto_6.png);
    background-size: cover;
    
}

#bx7{

    background-image: url(../images/foto_7.png);
    background-size: cover;
    
}

#bx8{

    background-image: url(../images/foto_8.png);
    background-size: cover;
    
}

/* Empresas Parceiras */
#empresas{

    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

.box_empresas{

    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    
}

#empresa1{

    background-image: url(../images/icon_empresa1.png);

}

#empresa2{

    background-image: url(../images/icon_empresa2.png);

}

#empresa3{

    background-image: url(../images/icon_empresa3.png);

}

#empresa4{

    background-image: url(../images/icon_empresa4.png);

}

#empresa5{

    background-image: url(../images/icon_empresa5.png);

}

#empresa6{

    background-image: url(../images/icon_empresa6.png);

}

#empresa7{

    background-image: url(../images/icon_empresa7.png);

}

#empresa8{

    background-image: url(../images/icon_empresa8.png);

}

/* Textos */
.texto{

    width: 100%;
    max-width: 1800px;
    
}

.txt{

    margin: 10px 0px 10px 10px;
}

/* Rodapé */
footer{

    background-color: var(--cor_secundaria);
    
    min-height: 30px;

}

@media(max-width: 500px){

    #cabecalho_desktop{
        display: none;
    }

    #cabecalho_mobile{
        display: none;

    }

    #banner{

        height: 200px;
    width: 100%;
        
    }

    #tendencias{

        flex-direction: column;
        
        align-items: center;
        
        padding: 20px;
        gap: 20px;

    }

    .box_tendencias{

        width: 100%;
        box-shadow: inset 0px -55px 25px black;

    }

    .img_banner{

        height: 200px;

    }

    .acessar{

        height: 35px;

    }

    #bx3{

        background-position: 0% 0%;

    }

    footer, #empresas, .texto{
        display: none;
    }

}