@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    --cor_principal: rgb(232, 232, 183);    
    --cor_secundaria: rgb(151, 0, 0);
    
}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main{

    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
    min-height: 100vh;

    min-width: 1000px;

    font-family: 'Inter', sans-serif;
    font-weight: 500;

}

header{

    background-color: var(--cor_principal);
    height: 60px;
    width: 100%;

    display: flex;
    flex-direction: row;
    
}
/* Começo cabeçalho */
#logo{

    height: 50px;
    width: 100px;
    margin: 0px 50px;
    
}

#img_logo{

    height: 55px;

}

#menu{

    display: flex;
    flex: 1;
    justify-content: space-around;
    
}

#menu_ul{

    display: flex;
    list-style: none;
    gap: 30px;
    font-weight: 600;

}

.pg:hover{

    color: white;
    cursor: pointer;

}

.pg{

    color: var(--cor_secundaria);
    margin-top: 5px;
    
}

#pg_atual{

    color: white;
    text-shadow: 0px 0px 3px var(--cor_secundaria);
    
    border-top: 5px solid var(--cor_secundaria);

}

#menu_login{

    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: var(--cor_secundaria);

}

.caixa{

    background-color: aliceblue;
    height: 20px;
    width: 80px;
    border-radius: 5px;
    
}

#entrar{

    color: white;
    background-color: var(--cor_secundaria);
    height: 20px;
    width: 50px;
    text-align: center;
    border-radius: 5px;

}

#entrar:hover{

    background-color: white;
    color: var(--cor_secundaria);
    cursor: pointer;


}
/* Fim cabeçalho */

/* Slider */
section{

    background-image: url(../images/fundo_section.png);
    

    display: flex;
    flex: 1;

}






footer{

    background-color: var(--cor_secundaria);
    height: 60px;

}