@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    --cor_principal: rgb(232, 232, 183);    
    --cor_secundaria: rgb(151, 0, 0);
    
}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    height: 100dvh;

    font-family: 'Inter', sans-serif;
    font-weight: 500;

}

main{

    display: flex;
    flex-direction: column;

    flex: 1;
    
    font-family: 'Inter', sans-serif;
    font-weight: 500;

}
/* cabeçalho */
#cabecalho_desktop{

    background-color: var(--cor_principal);
    height: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 5px black;

    position: fixed; 
    top: 0;          
    width: 100%;
    z-index: 1000;

}

#cabecalho_mobile{

    background-color: var(--cor_principal);
    height: 60px;
    min-height: 60px;
    display: none;
    justify-content: center;

}

#cabecalho{

    display: flex;
    width: 100%;
    max-width: 2000px;
    gap: 10%;
    
}

#logo{

    background-image: url(../images/Entrelaços\ 1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
    height: 60px;
    width: 150px;
    margin-left: 20px;

}

#menu{

    display: flex;
    gap: 20px;
    flex: 1;

}

#menu_ul{

    display: flex;
    flex: 1;
    padding: 0;
    list-style: none;
    gap: 30px;
    font-weight: 600;

}

.pg a{

    color: var(--cor_secundaria);
    margin-top: 5px;
    text-decoration: none;
    text-align: center;
    width: 80px;
}

.pg a:hover{

    color: white;
    cursor: pointer;

}

.pg a.active{

    width: 80px;
    color: white;
    text-shadow: 0px 0px 3px var(--cor_secundaria);
    text-align: center;

    border-top: 5px solid var(--cor_secundaria);

}

/* Login */
#menu_login{

    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: var(--cor_secundaria);

}

#menu_logout{

    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: var(--cor_secundaria);
    margin-right: 10px;

}

#menu_logout button{

    border-radius: 5px;
    padding: 0px 3px;
    color: white;
    cursor: pointer;
    border: none;
    background-color: var(--cor_secundaria);

}

#menu_logout a{

    border-radius: 5px;
    padding: 0px 3px;
    color: white;
    cursor: pointer;
    border: none;
    background-color: var(--cor_secundaria);

}

.caixa{

    background-color: aliceblue;
    border-radius: 5px;
    border: 0;

    height: 15px;
    font-size: 10px;
    
}

#usuario{

    width: 80px;

}

#senha{

    width: 35px;
    
}

#mostrar{

    background-color: var(--cor_principal);
    color: var(--cor_secundaria);
    border: 0;
    border-radius: 5px;
    font-size: 20px;

}

.butao{

    color: white;
    background-color: var(--cor_secundaria);
    height: 15px;
    width: 50px;
    text-align: center;
    font-size: 10px;
    border-radius: 5px;

}

.butao:hover{

    background-color: white;
    color: var(--cor_secundaria);
    cursor: pointer;

}

/* Dialogo de Login */
.dLogin{

    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--cor_principal);
    border-color: var(--cor_secundaria);
    border-radius: 20px;
    
    height: 300px;
    width: 400px;

}

.dLogin::backdrop{

    backdrop-filter: blur(2px) ; 

}

.infoDialog{

    text-align: center;
    color: var(--cor_secundaria);
    font-weight: 700;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 10px;
    padding: 10px;

}

.dLogin button{

    background-color: var(--cor_secundaria);
    width: 200px;
    border-color: var(--cor_secundaria);
    border-radius: 20px;
    color: white;
    font-weight: 600;

}

.dLogin button:hover{

    color: var(--cor_secundaria);
    background-color: white;
    border-color: var(--cor_secundaria);

}

/* Dialogo de Serviços */
.dServico{

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: var(--cor_principal);
    border-color: var(--cor_secundaria);
    border-radius: 20px;
    
    height: 70vh;
    width: 70vw;
    
}

.dServico::backdrop{

    backdrop-filter: blur(2px) ; 

}

.conteudoDialog{

    display: flex;
    height: 100%;

}

.topoServico {

    display: flex;
    justify-content: end;
    
}

.imgServico {
    
    width: 50%;
    height: 100%;
    object-fit: cover;

}

.textoServico{

    padding: 0px 50px;
    font-size: 18px;
    color: var(--cor_secundaria);
    text-shadow: 2px 2px white;
    
}

.textoServico h2{

    text-align: center;

}

.butaoserv{

    color: white;
    background-color: var(--cor_secundaria);
    height: 30px;
    width: 50px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;

}

.butaoserv:hover{

    background-color: white;
    color: var(--cor_secundaria);
    cursor: pointer;

}

/* Section */
#principal{

    background-image: url(../images/fundo_section.png);
    background-size: 50px;
    
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
/* Banner */
#carouselExampleSlidesOnly{

    margin-top: 37px;
    display: flex;
    width: 100%;
    
}

.img_banner{

    width: 100%;
    
}
/* Sessão de Serviços */
#sessao_servicos{

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    gap: 2vw;
    padding: 10px;

}

article {

    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.servicos{

    height: 100%;
    width: 100%;
    background-color: var(--cor_principal);

    color: var(--cor_secundaria);

    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.589);
    border-radius: 10px;

    display: flex;
    align-items: center;
    
    overflow: hidden;  
}

.servicos img{

    object-fit: cover;
    height: 13vh;
    border-radius: 10px;

}

.servicos p{

    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0;

    font-size: 1.5rem;
    font-weight: 600;

}

.servicos:hover{

    cursor: pointer;
    background-color: var(--cor_secundaria);
    color: white;

    transition: 0.1s;
}

.servicos:hover img{

    transition: 0.1s;
    transform: scale(1.1);

}

/* Carrocel de artigos */
#carouselCards{

    width: 100%;
    
}

.carousel-item{

    transition: 1s;
    
}

/* Botões */
.carousel-control-prev, .carousel-control-next{

    width: 60px;
    
}

.iconi{

    color:rgb(0, 0, 0);
    font-size: 50px;
    
}

/* seções tendencias */
.d-flex{

    gap: 20px;
    justify-content: space-around;
    
}

/* Tendencias */
.box_tendencias{

    height: 30vh;
    width: 19vw;

    border-radius: 10px;

    display: flex;
    justify-content: end;
    
    flex-direction: column;

    box-shadow: inset 0px -45px 25px black;

}

.box_tendencias p{

    font-size: 13px;
    margin-left: 5px;
    margin-bottom: 3px;
    color: white;
    text-align: left;
    width: 100%;
    
}

.acessar{

    height: 25px;
    width: 100%;
    background-image: linear-gradient(rgb(255, 255, 255), var(--cor_secundaria), var(--cor_secundaria));
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    transition: 0.1s;
    
}

.acessar:hover{

    background-image: linear-gradient(white);

    color: var(--cor_secundaria);
    cursor: pointer;

    transition: 0.1s;
    scale: 1.01;

}

#bx1{

    background-image: url(../images/tendencia/foto_1.png);
    background-size: cover;
    background-position: center;

}

#bx2{

    background-image: url(../images/tendencia/foto_2.png);
    background-size: cover;
    background-position: center;

}

#bx3{

    background-image: url(../images/tendencia/foto_3.png);
    background-size: cover;
    background-position: center;

}

#bx4{

    background-image: url(../images/tendencia/foto_4.png);
    background-size: cover;
    background-position: center;

}

#bx5{

    background-image: url(../images/tendencia/foto_5.png);
    background-size: cover;
    background-position: center;

}

#bx6{

    background-image: url(../images/tendencia/foto_6.png);
    background-size: cover;
    background-position: center;
    
}

#bx7{

    background-image: url(../images/tendencia/foto_7.png);
    background-size: cover;
    background-position: center;
    
}

#bx8{

    background-image: url(../images/tendencia/foto_8.png);
    background-size: cover;
    background-position: center;
    
}

/* Galeria */
#galeria{

    margin-top: 20px;
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    

}

.postInsta {
    
    transform: scale(1); /* diminui o tamanho */ 
    transform-origin: center; /* evita distorção */

    padding: 0;
    margin: 0;
}

/* Contato */
#contato{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

#perfil{

    display: flex;
    justify-content: center;
    gap: 40px;

}

#perfil a{

    text-decoration: none;

}

#perfil img{

    height: 120px;

}

.balao {

    background: var(--cor_principal); /* cor clara igual à da imagem */
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    position: relative; /* para a setinha */
    color: var(--cor_secundaria);
}

/* Setinha do balão */
.balao::before {

    content: "";
    position: absolute;
    left: -20px; /* posição da pontinha */
    top: 50px;   /* distância do topo */
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 20px solid var(--cor_principal); /* mesma cor do fundo */

}

#redes{

    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

#redes img{

    height: 60px;

}

iframe{

    margin: 10px 0px;
    border: 5px solid var(--cor_secundaria);
    width: 100%;

}

/* Empresas Parceiras */
#empresas{

    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

.box_empresas{

    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    
}

/* Textos */
.texto{

    margin: 10px 0px;
    padding-left: 5px;
    width: 100%;
    max-width: 1800px;
    
}

.textoMobile{

    display: none;

}

/* Rodapé */
footer{

    background-color: var(--cor_secundaria);
    min-height: 30px;

}

@media(max-width: 940px){

    #sessao_servicos{

        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        justify-content: center;
        
    }

    #galeria{

        flex-direction: column;

    }

}

@media(max-width: 820px){

    #topixo{

        display: none;

    }

    #carouselExampleSlidesOnly{

        margin: 0;

    }

    #cabecalho_desktop{

        display: none;
    }

    #cabecalho_mobile{
        
        display: flex;
        justify-content: space-between;
        
    }

    #menu_ulMobile{

        display: flex;
        flex-direction: column;
        
        gap: 30px;
    }

    ol, ul{

        padding: 0;

    }

    #menu_ulMobile a{

        text-decoration: none;
        color: var(--cor_secundaria);
        
        display: flex;
        align-items: center;

        padding-left: 10px;
        height: 50px;

        font-weight: 600;
        box-shadow: 1px 1px 1px 1px var(--cor_secundaria);

    }

    #menu_loginMobile{

        margin-top: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 14px;
        color: var(--cor_secundaria);
        
    }

    #fecharLogar{

        position: absolute;
        right: 0px;

    }

    #usuario{

        height: 40px;
        width: 80%;
        
        text-align: center;
        font-size: 30px;
    }

    #senha {

        background-color: aliceblue;
        border-radius: 5px;
        border: 0;
        
        height: 40px;
        width: 80%;
        text-align: center;
        font-size: 30px;
        
    }

    #mostrar {
        
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 80px;
        transform: translateY(-60%);
        
        background: transparent;
        color: var(--cor_secundaria);
        border: none;
        cursor: pointer;
        
        font-size: 20px;
        height: 40px;
        padding: 0;
        z-index: 10;

    }

    .butao{

        color: white;
        background-color: var(--cor_secundaria);
        height: 40px;
        width: 50%;
        text-align: center;
        font-size: 20px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .menu-mobile{

        width: 70vw !important ; 

    }

    .offcanvas-header{

        padding: 20px;
        display: flex;
        flex-direction: column;
        
    }

    .offcanvas-header ul{

        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;

    }

    .offcanvas-title{

        padding: 0;
        margin-top: 0px;
        order: 1;
        
    }

    .offcanvas-title li{

        background-color: var(--cor_secundaria);
        list-style: none;
        color: white;

        height: 50px;
        width: 50vw;
        border-radius: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

    }

    .offcanvas-body li{

        list-style: none;
        width: 100%;
    
    }

    .offcanvas-header .btn-close{

        border: solid 1px black;
        margin-bottom: 10px;
        

    }

    #logo{

        margin: 0;

    }

    .btn{

        position: fixed;
        right: 0px;
        z-index: 1045;

        background-color: rgba(151, 0, 0, 0.5);
        border: none;
        height: 55px;
        width: 55px;
        margin: 2px;

    }

    .btn-primary{

        --bs-btn-bg: var(--cor_secundaria);
        --bs-btn-border-color: var(--cor_secundaria);
        --bs-btn-hover-bg: var(--cor_secundaria);
        --bs-btn-hover-border-color: var(--cor_secundaria);
        --bs-btn-focus-shadow-rgb: var(--cor_secundaria);
        --bs-btn-active-bg: var(--cor_secundaria);
        --bs-btn-active-border-color: var(--cor_secundaria);
        --bs-btn-disabled-bg: var(--cor_secundaria);
        --bs-btn-disabled-border-color: var(--cor_secundaria);

    }

    .btn:hover{

        background-color: white;
        color: var(--cor_secundaria);

    }

    .offcanvas-backdrop{

        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* transparente o suficiente para o blur aparecer */
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);

    }

}

@media(max-width: 630px){

    #carouselExampleSlidesOnly{

        margin-bottom: 10px;
        
    }

    #carouselCards{

        display: none;

    }
    
    #sessao_servicos{

        grid-template-columns: 1fr;

        place-items: center;
        gap: 10px;

        width: 100%;
        height: 100%;
        margin-bottom: 20px;

    }

    .dServico{

        width: 90%;
        height: 80%;

    }

    .dServico::backdrop{

        background: rgba(0, 0, 0, 0.4); /* fallback */
        -webkit-backdrop-filter: blur(2px); /* Safari iOS */
        backdrop-filter: blur(2px);

    }

    .servicos{

        width: 90vw;

    }

    .conteudoServico{

        padding: 0;
        margin: 0;

    }

    .textoServico{

        font-size: 12px;
        padding: 10px;
    
    }

    .textoServico h2{

        text-align: center;
        font-size: 16px;

    }

    .imgServico{

        width: 40%;       /* ocupa toda a largura do container */
         /* ocupa toda a altura do container */
    object-fit: cover; /* preenche o espaço mantendo a proporção, cortando o excesso se necessário */
    display: block; 

    }

    #perfil{

        padding: 10px;
        gap: 25px;

    }

    #perfil img{

        height: 60px;

    }

    .balao p{

        font-size: 12px;
        font-weight: 600;

    }

    .balao::before {

        top: 20px;   /* distância do topo */
        
    }

    #contato{

        margin: 15px 0;
        width: 100%;
        height: 100%;

    }

    #redes{

        margin-top: 10px;
        gap: 15px;

    }

    #endereco{

        font-size: 13px;
        font-weight: 600;
        margin: 0;

    }

    .textoMobile{

        display: block;
        width: 100%;
        padding-left: 10px;
        font-weight: 600;
        
    }

    footer, #empresas, .texto{
        display: none;
    }

}
